
.content-container {
  width: 100%;
}

@media only screen and (min-width: 1200px) {
  .content-container {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
}


.App {
  text-align: center;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.edge {
  border-right: 2px #3a465b solid;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 16px;
}

.board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
  justify-content: space-around;
  background-color: rgba(58, 70, 91, 0.5);
  padding: 10px;
  width: 70%;
}

.side {
  padding: 10px;
  width: 25%;
  text-align: left;
  background-color: rgba(58, 70, 91, 0.5);
}

.box {
  width: 200px;
  border: 2px solid #3a465b;
  height: 180px;
  background-color: #102131;
}

.num {
  font-weight: bold;
  font-size: 4rem;
}

.box:hover {
  border-color: aqua;
  cursor: pointer;
}

.opened {
  border: 2px solid red;
}

.action-box {
  margin-top: 8px;
  border: 2px dashed #00ceb8;
  text-align: center;
  padding: 8px;
  font-size: 1.3rem;
}

.offer-box {
  margin-bottom: 8px;
}

.list-player {
  background-color: rgba(163, 187, 211, 0.05);
  margin-bottom: 4px;
  padding: 4px;
  border: 1px solid #3a465b;
  font-weight: bold;
}

.eliminated {
  background-color: rgba(150, 15, 33, 0.7);
}

.proj {
  font-size: 0.9rem;
  font-weight: 400;
}

.status {
  font-size: 0.75rem;
  font-weight: 400;
}

.case-selected-text {
  font-size: 1.3rem;
  margin-bottom: 4px;
}

.action-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.btn {
  padding: 12px 16px 12px 16px;
  border-radius: 6px;
  border: 1px solid #00ceb8;
  background-color: rgba(0,206,184,0.1);
  color: #00ceb8;
  font-weight: bold;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #00ceb8;
  color: #102131;
  cursor: pointer;
}

label {
  margin-right: 5px;
}

select {
  margin-left: 5px;
}
.about {
  text-align: left;
  padding: 8px;
}

.main-image {
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 1000px) {
  .game {
    flex-direction: column;
  }
  .board{
    width: 100%;
  }
  .side {
    width: 100%;
  }
}

.accordion-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  background-color: #3a465b;
}

.accordion-title:hover {
  background-color: #3ab4cc;
}

.accordion-title,
.accordion-content {
  padding: 1rem;
}

.accordion-content {
  background-color: rgba(0,206,184,0.1);
}

.contestant-flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
  justify-content: space-around;
  background-color: rgba(58, 70, 91, 0.5);
  padding: 10px;
  margin-bottom: 16px;
}

.contestant-card {
  width: 30%;
  border: 2px solid #3ab4cc;
  padding: 6px;
}

button {
  padding: 5px;
  margin: 3px;
}
